[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/verssae/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = https://github.com/Verssae/verssae.github.io.git
	branch = main
